
header{
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

#logo{
    display: flex-start;
    margin-right: 2px;
    
}

input{
    height: 20px;
    text-align: center;
}

.miespacio{
    background-color: white;
    border-color: #666666;
}

#registro{
    background-color: #FF9B45;
    border: #FF9B45
}

.btn{
    border-radius: 150px;
    width: 190px;
    height: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn:hover{
    opacity: 0.8;
    transition: 0.3s;
    background-color: gray;
    cursor: pointer;
}

.principal img{
    width: 100% ;
    max-width: 100%;
    height: auto;
}

#busqueda .btn{
     background-color: #FF9B45;
    border: #FF9B45
}

#busqueda{
    position: absolute;
    top: 40%;
    left: 50%;
    background-color: rgba(127,127,127,0.5);
    border-radius: 30px;
    width: 50%;
    height: 40%;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    padding-top: 5%;
    padding-bottom: 5%;

}

h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.grupo-input label{
    display: block;
    justify-content: space-between;
    padding-top: 5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#busqueda b{
    color: white;
}

#registro b{
    color: white;
    
}

.slider{
    display: flex;
    justify-content: center;
    padding-top: 2%;
}

input{
    border-radius: 10px;
}

span{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.boton-ubicacion{

    background-color: #666666;
    border-radius: 5px;
}

