
#fotovivienda{
    width: 550px;
}

.info-vivienda{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    flex-wrap: wrap;
    margin-bottom:20px;
}

.info{
    width: 550px;
    justify-content: center;
    text-align: center;

}

#card{
    background-color: #CCCCCC;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
}

#card p{
    text-align: justify;
}

ul {
  list-style: none;       
  display: flex;           
  flex-wrap: wrap;         
  justify-content: center; 
  gap: 20px;               
  padding: 0;
  margin: 0;
}

ul li {
  white-space: nowrap;     
}

#servicios{
    text-align: center;
    width: 100%;

}

.btnfoto{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: (75,75,75,0.5);
    border: none;
     box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.btnfoto:hover{
    opacity: 0.8;
    transition: 0.3s;
    background-color: gray;
    cursor: pointer
}

#botonfoto{
    display: flex;
    justify-content: space-around;
    gap: 440px;
    position: absolute;
    margin-top: -200px;
    margin-left: 5px;

}

iframe{
    width: 100%;
    height: 450px;
    border: none;
}

#imapa{
    width: 550px;
    justify-content: center;
    text-align: center;
}

.infoprop{
    display: flex;
    justify-content: center;
}

#fotoperfil{
    width: 100px;
    height: 100px;
    border-radius: 60px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.infocontacto{
    display: flex;
    align-items: center; 
    gap: 8px; 
    justify-content: center;

}

#logowhats{
    width: 30px;
    height: 30
}
