#registro-box{
    margin-top: 60px;
    margin-bottom: 60px;
}

.login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login-box {
    width: 350px;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.15);
    text-align: center;
}


.input {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 15px;
}


.registro-texto {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 14px;
    color: #333;
}

.registro-texto a {
    color: #1864ff;
    text-decoration: none;
    font-weight: bold;
}

.registro-texto a:hover {
    text-decoration: underline;
}

textarea{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

#contenedor-pub{
    width: 500px;
    margin-top: 20px;
}

#titulo{
    width: 70%;
}

#precio{
    margin-top: 15px;
}

#registro-box{
    margin-top: 100px;
    margin-bottom: 100px;
}

#contenedor-pub .select-large{
    margin-top: 8px;
}

.servicios{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.publicar-grid {
    display: grid;
    grid-template-columns: 2fr 1fr; /* Izquierda grande – derecha más pequeña */
    gap: 40px;
    width: 100%;
    align-items: start;
    margin-top: 20px;
}

.col-izquierda {
    width: 100%;
}

.col-derecha {
    width: 100%;
}

.servicios-grid {
    display: grid;
    grid-template-columns: 1fr; /* 1 columna, puedes cambiar a 2 si quieres */
    gap: 10px;
}

.serv-label {
    display: flex;
    align-items: center;
    gap: 8px;
}

#contenedor-pub input{
    color: black;
}

#subirfoto{
    width: 400px;
}

#precio{
    width: 180px;
}

#direccion{
    width: 300px;
}