#registro-box{
    margin-top: 60px;
    margin-bottom: 60px;
}

.login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login-box {
    width: 350px;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.15);
    text-align: center;
}


.input {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 15px;
}


.registro-texto {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 14px;
    color: #333;
}

.registro-texto a {
    color: #1864ff;
    text-decoration: none;
    font-weight: bold;
}

.registro-texto a:hover {
    text-decoration: underline;
}

textarea{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
}


