/* Fondo oscuro detrás del modal */
.modal {
  display: none;           
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  justify-content: center;
  align-items: center;
  z-index: 0;
}

/* Contenedor del cuadro */
.modal-contenido {
  background: white;
  padding: 20px;
  border-radius: 15px;
  width: 80%;
  max-width: 380px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

/* Botón para cerrar */
.cerrar {
  float: right;
  cursor: pointer;
  font-size: 22px;
}

/* Contenedor del cuadro */
.modal-contenido {
  background: white;
  padding: 20px;
  border-radius: 15px;
  width: 80%;
  max-width: 380px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

/* Botón para cerrar */
.cerrar { 
  float: right;
  cursor: pointer;
  font-size: 22px;
}

.botonesfiltro{
    background-color: #808080;
    border: none;
    border-radius: 2px;
    height: 40px;
    color: white;
}

input[type="checkbox"] {
    transform: scale(1.2);
    margin-right: 8px;
}

.slider{
    text-align: center;
}

#tipovivienda{
    text-align: center;
    display: space-between;
}

.botonesfiltro:hover {
    background-color: #555555;
    cursor: pointer;
}

#aplicarFiltro{
    text-align: center;
    margin-top: 20px;
}

#Servicios{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

